code {
	background: var(--code-bg);
	border: 1px solid var(--code-border);
	border-left: 7px solid var(--code-border);
}

code, textarea {
	font-family: var(--font-family-mono);
	font-size: calc(var(--font-size-mono) * 100% / 14);
}

pre {
	margin: 20px;
	overflow-x: auto;
}

pre > code {
	display: block;
	padding: 10px 15px;
	overflow-x: auto;
}

pre + .links {
	margin-top: -15px;
	margin-bottom: 20px;
}

pre.comment {
	white-space: pre-wrap;
}

p pre {
	margin: 0;
}

.rtl pre, .rtl code {
	direction: ltr;
}

.rtl pre.comment {
	width: fit-content;
}
